<!DOCTYPE html>
<html>
  <head>
    <title>Add Course</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id="formAddCourse" name="addcourse" method="post" action="/addcourse">
        <input id="inputCourse1" type="text" placeholder="course code: csc373" name="course1" />
        <input id="inputSession1" type="text" placeholder="session: F/W/Y" name="session1" /><br><br>
        <input id="inputCourse2" type="text" placeholder="course code: csc373" name="course2" />
        <input id="inputSession2" type="text" placeholder="session: F/W/Y" name="session2" /><br><br>
        <input id="inputCourse3" type="text" placeholder="course code: csc373" name="course3" />
        <input id="inputSession3" type="text" placeholder="session: F/W/Y" name="session3" /><br><br>
        <input id="inputCourse4" type="text" placeholder="course code: csc373" name="course4" />
        <input id="inputSession4" type="text" placeholder="session: F/W/Y" name="session4" /><br><br>
        <input id="inputCourse5" type="text" placeholder="course code: csc373" name="course5" />
        <input id="inputSession5" type="text" placeholder="session: F/W/Y" name="session5" /><br><br>
        <input id="inputCourse6" type="text" placeholder="course code: csc373" name="course6" />
        <input id="inputSession6" type="text" placeholder="session: F/W/Y" name="session6" /><br><br>
      <button id="btnSubmit" type="submit">Submit</button>
    </form>
  </body>
</html>