<!DOCTYPE html>
<html>
  <head>
    <title>Timetables</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Timetable</h1>
    <%
    var list = '';
    var days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'];
    for (k = 0; k < myTimetables.length; k++) {
        list += '<p>Timetable Option ' + (k+1).toString() + '</p>';
        list += '<table border="1" width="100%"><thead><tr class="timetable-row"><th width="15%"></th><th width="15%">Mon</th><th width="15%">Tue</th><th width="15%">Wed</th><th width="15%">Thu</th><th width="15%">Fri</th></tr></thead><tbody>';
        var myTimetable = myTimetables[k];
        for (i = 9; i <= 22; i++) {
            list += '<tr><th width="10%">' + i + ':00</th>';
            for (j = 0; j < 5; j++) {
                item = myTimetable[days[j]][(i-9)];
                if (typeof item == 'string') {
                    var myColor = myColors[item.slice(0,6)];
                    list += '<td width="15%" style="background-color:' + myColor + '">' + item + '</td>';
                } else {
                    list += '<td width="15%"></td>';
                }
            }
            list += '</tr>';
        }
        list += '</tbody></table>';
    }
    %>
    <%- list %>
  </body>
</html>
